body {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNovaThin';
  background-color: #f4f4f4;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
a:active {
  outline: none;
}
input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 5px;
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url(../fonts/ProximaNovaCondensedRegular.otf);
}
@font-face {
  font-family: "ProximaNovaThin";
  src: url(../fonts/ProximaNovaThin.ttf);
}
@font-face {
  font-family: "ProximaNovaItalicThin";
  src: url(../fonts/Proxima-Nova-Thin-It.otf);
}
.banner {
  background-image: url(../images/head-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
  text-align: center;

}
.inn {
  padding: 0 20px;
}
.innn {
  padding: 0 10px;
}
.bigInner {
  max-width: 1200px;
  margin: 0 auto;
}
.banner_title {
  margin: 0;
  padding: 0;
  font-size: 7.1rem;
  font-weight: 300;
}
.yellow_span {
  color: #faa71a;
}
.banner_sign {
  font-size: 1.6rem;
}
#clockdiv {
  display: inline-block;
  font-size: 3rem;
}
#clockdiv > div {
   padding: 10px;
   position: relative;
   display: inline-block;
}
#clockdiv > div::after {
    content: ':';
    position: absolute;
    right: -15px;
    top: 23px;
    font-size: 3rem;
    line-height: 1;
}
#clockdiv > div:last-child::after {
    content: none;
}
.count {
   padding: 15px;
   display: inline-block;
}
.smalltext {
   padding-top: 5px;
   font-size: 1rem;
   color: #faa71a;
}
.flexIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialImg {
  width: 20px;
  padding: 10px;
}
.socialIcon {
  margin: 0 20px;
  border: 1px solid transparent;
}
.socialIcon:hover {
  border: 1px solid #fff;
  transition: 0.2s;
}
.bannerBtn {
  margin: 30px 0;
  background: none;
  border: none;
  font-size: 3rem;
  color: #fff;
  font-family: 'ProximaNovaThin';
  outline: none;
  cursor: pointer;
}
.rideBtn {
  color: #faa71a;
  border: 1px solid #faa71a;
}
.rideBtn:hover {
    border: 1px solid transparent;
    transition: 0.2s;
}

@media only screen and (max-width: 800px) {
  .bannerBtn {
      font-size: 2rem;
  }
  .flexHowItWorks {
      display: block;
      padding: 0 10px;
    }
  .howItWorksFlexItem {
      max-width: 100%;
    }
  .howItWorksFlexItem:first-child {
      margin-bottom: 50px;
      padding-bottom: 50px;
      border-bottom: 2px dotted #474747;
    }
    .flex {
      flex-direction: column;
    }
    .flexItem {
      margin: 0 auto;
    }
    .flexItem:last-child {
      margin-top: 50px;
    }
    .flexItem .flex {
      flex-direction: row;
    }
    .team__p {
      font-size: 1.1rem;
    }
    .flexTeam {
      flex-direction: column;
      margin-top: 0;
    }
    .flexTeamItem {
      width: 350px;
      margin: 0 auto;
      margin-top: 30px;
    }
}
@media only screen and (max-width: 516px) {
  .banner {
    min-height: 600px;
  }
  .inner {
    padding: 50px 20px;
  }
  .bannerBtn {
    margin: 0;
  }
  #clockdiv{
    font-size: 1.8rem;
  }
  #clockdiv > div{
     padding: 5px 10px;
   }
   #clockdiv > div::after {
     font-size: 1.8rem;
     top: 10px;
     right: -5px;
   }
   .count {
      padding: 5px;
   }
   .startProj {
     margin-top: 50px;
   }
   .flexIcons {
      justify-content: space-around;
      padding: 0 0 30px 0;
      flex-direction: row;
      flex-wrap: wrap;
   }
   .screen {
     max-height: 500px;
     width: 100%;
     margin: 0 auto;
   }
   .flexTeamItem {
     width: 300px;
   }
   .teamImg {
     max-width: 120px;
     max-height: 120px;
   }
   .name {
     font-size: 1.1rem;
     padding-right: 10px;
   }
   .position {
     letter-spacing: 4px;
   }
   .pay .bigInner {
     font-size: 0.9rem;
   }
   .section-roadmap__list-item-description {
     padding: 0 20px;
   }
}
